* {
  background-image: url("../assets/menu_bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  overflow-x: hidden;
}

/*Centers the content vertically*/
#content {
  margin: 0px auto;
  margin-top: auto;
}

/*logo image*/
#logo img {
  width: 90vw;
  display: block;
  margin: 0 auto;
  z-index: -1;
}

/*Buttons*/
.btn {
  margin-top: -2.5vw;
  text-align: center;
}

.btn a img {
  width: 50vw;
}

.btn a img:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

/*Tablet size*/
@media (min-width: 800px) {
  #logo img {
    width: 85vw;
  }
  #btn_container {
    margin-top: -9vw;
  }
  .btn a img {
    width: 30vw;
  }
}

/*Desktop size*/
@media (min-width: 1000px) {
  body {
    background-repeat: no-repeat;
    background-size: 72vw;
    overflow: hidden;
  }
  #content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #logo img {
    width: 70vw;
    float: left;
  }
  #btn_container {
    margin-top: 1.5vw;
  }
  .btn {
    padding-top: 5vw;
    margin-top: 0.6vw;
    margin-right: -20vw;
  }
  .btn a img {
    width: 19vw;
    float: right;
    margin-top: -1.5vw;
  }
}
