:root{
    cursor: url("./wand.png"),auto;
    --X:40vh;
    --Y:45vw;
    --font-one:'Architects Daughter', cursive;
    --font-two: 'Indie Flower', cursive;
    --font-three: 'Shadows Into Light', cursive;
}
:root::before{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position:fixed;
    /* background:radial-gradient(circle 12vmax at var(--X) var(--Y),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.5) 90%,
    rgba(0,0,0,0.95) 100%
    ); */
    pointer-events: none;
}
body{
    margin: 0;
    background-color: black;
    background-size: cover;
    height: 100vh;
    background-position: center ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 0.95rem 2.5rem;
}