.bg{
    background: url("./assets/landingpage-logo.png"); 
    background-color: aquamarine;
    background-size: cover;
    height: 100vh;
    background-position: center ;
}
body{
    margin: 0;
}
:root{
    cursor: url("./wand.png"),auto;
    --X:40vh;
    --Y:45vw;
}
:root::before{
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position:fixed;
    background:radial-gradient(circle 12vmax at var(--X) var(--Y),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.5) 90%,
    rgba(0,0,0,0.95) 100%
    );
    pointer-events: none;
}
