body {
    margin: 0;
    padding: 0;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Creepster', cursive;
    font-size: 240%;
}
.rain {
    height: 100vh;
    background: url(../img/rain.png);
    animation: animateRain .3s linear infinite;
    z-index: -1;
}
.rain::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background:#fff;
    animation: lightening 4s infinite;
    opacity: 0;
    z-index: -1;
}

@keyframes animateRain {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 20% 100%;
    }
}
@keyframes lightening
{
    0%
    {opacity: 0;}
    10%
    {opacity: 0;}
    11%
    {opacity: 1;}
    14%
    {opacity: 0;}
    20%
    {opacity: 0;}
    21%
    {opacity: 1;}
    24%
    {opacity: 0;}
    104%
    {opacity: 1;} 
}
 h1 {
     font-size: 3.5em;
     padding-top: 5%;
 }
 .userBox {
    text-shadow: 0px 0px 15px rgb(255, 60, 0);
    margin: auto;
    text-align: center;
 }
 input {
     color: honeydew;
    padding: 5px;
    font-size: 20px;
    font-family: 'Creepster', cursive;
    margin: 3%;
    background-color: rgba(223, 241, 195, 0.014);
    border-radius: 40% 40% 20% 20%;
}
fieldset {
    margin-top: 5%;
}
input[type=submit] {
    border: none;
    text-shadow: 0px 0px 15px rgb(252, 2, 2);
    outline: none;
    font-size: 1em;
  }
  
  input[type=text] {
    border: none;
    background-color: rgba(255, 0, 0, 0.473);
    text-align: center;
    outline: none;
    font-size: 1em;
    width: 20%;
  }

  input:hover {
    box-shadow: 0 0 20px rgb(250, 13, 13);
    transition-duration: .3s;
  }

 #howToPlay {  
     position: relative;
     left: 35%;
     width: 30%;
     height: 30%;
     text-decoration: underline;
 }
 /* #aboutUs {
     color: honeydew;
     position: absolute;
     right: 20%;
     font-size: .80em;
     border: none;
    text-shadow: 0px 0px 15px rgb(22, 252, 2);
    outline: none;
    font-family: 'Creepster', cursive;
    border-radius: 40% 40% 20% 20%;
    background-color: rgba(0, 255, 34, 0.089);
 } */
ol {
    margin-top: 1%;
    font-size: .70em;
    text-align: left;
}
li {
    line-height: 150%;
    text-align: center;
}