#page1, #page2 {
    background-image: url(/img/brick1.jpg);
    box-sizing: border-box;
    text-align: center;
    margin: 50px;
}

#page2 {
    background-image: url(/img/brick2.jpg);
}

.button {
    background-color: black;
    color: rgb(184, 55, 74);
    /* border: 3px solid red; */
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    font-size: 45px;
    border-style: outset;
    text-decoration: none;
    border-style: outset;
    text-shadow: 0 0 20px #777777;
    font-family: 'Creepster', cursive;
}

a:hover {
    background-color: gray;
    text-shadow: 10px black;
}

.button1 {
    /* border:1px solid black; */
    padding: 10px;
    text-decoration: none;
    text-shadow: 0px 0px 20px black;
}

a:visited {
    color:rgb(184, 55, 74);
}

#home {
    position: relative;
    float:right;
}

#timer, #questions {
    display:none;
}

h1 {
    padding: 50px;
    /* border: solid black 1px; */
    font-family: 'Creepster', cursive;
    font-size: 100px;
    background-color: hsla(37, 6%, 95%, 0.3);
    box-shadow: inset 0 0 10px #777777;
}

p {
    border: solid black 1px;
    font-family: 'Bree Serif', serif;
    font-size: 35px;
    margin: 20px 50px;
    padding: 30px;
    background-color: #F9F4eb;
    background-color: hsla(37, 6%, 95%, 0.5);
    box-shadow: inset 0 0 10px #777777;
}

#bio {
    width: 60%;
    height: 800px;
    margin: 0px auto;
    overflow: scroll;
}

#userName, input {
    /* border: solid black 1px; */
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    margin: 20px 200px;
    white-space: pre-line;
    background-color: #F9F4eb;
    background-color: hsla(37, 6%, 95%, 0.5);
    box-shadow: inset 0 0 10px #777777;    
}

input {
    text-align: center;
}

#scores {
    border: solid black 1px;
}

/* #questions */
img{
    border-radius: 50%;
  
   
}

.image-box{

    width: 50%;
    height: 50%;
    text-align: center;
}
.image-box > p{
    border: none;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
    margin: 0;
    padding: 0px;
   box-shadow: none;
}
.all-image > p{

border: none;
    font-family: 'Bree Serif', serif;
    font-size: 15px;
    margin: 0;
    padding: 0px;
   box-shadow: none;
}

#header{
    font-size: 80px;
    text-align: center;
}
#all-page{
    border: solid black;
   
    
    
}
 .all-image{
border: solid black;
}
.face-facebook {
    background: #3B5998;
    color: white;
  }
