.resize {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header-border {
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    /* margin-left: 65%; */
    color: white;
}

.points {
    padding: 0px 10px;
}

#user-name {
    padding-right: 10px;
}

body {
    font-family: 'Share Tech Mono', monospace;
}

main {
    font-size: 15px;
    background-color: white;
    width: 60%;
    opacity: 0.7;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

h1 {
    font-family: 'Joti One', cursive;
    text-align: center;
}

#button-container {
    text-align: center;
}

button {
    margin: 20px;
    transition: transform 0.5s;
    font-family: 'Share Tech Mono', monospace;
    border: 1px solid black;
    text-align: center;
}

button:hover {
    color: red;
    transform: scale(1.4);
}

.bold {
    font-weight: bold;
}

#result-header {
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}